# Your arbitrage wallet private key (ETH is required)
PRIVATE_KEY=0xaca7fc50eec759fXXXXXXXXXXXXXXX26adb3ff44aca30cebeec54194d7

# This address is WETH (no changes needed)
BUNDLE_EXECUTOR_ADDRESS=0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2

# An arbitrary newly generated ethereum private key
# (used to sign the bundle, doesn't need to be funded)
FLASHBOTS_RELAY_SIGNING_KEY=0c7dbba43e4441eb00350d555e7c5660cb6f8f67acaed0bbba5281a3cb81618f

# Optional Fields：
HEALTHCHECK_URL=
ETHEREUM_RPC_URL=https://mainnet.infura.io/v3/382b0cb945b746c5a6722e838f18ea22
MINER_REWARD_PERCENTAGE=30

# The amount of WETH used for arbitrage each time 
# (0.01 = 0.01 WETH, adjusted as needed)
Arbitrage_Amount=0.01